body{
    background-color: #56876D;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;

}

.container{
    padding: 30px;
}

.jumbotorn{
    text-align: center;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

